.main-container{
    margin-top: 40px;
    margin-bottom: 150px;
  }
  
  .puntero{
    cursor: pointer;
  }
  
  
  .chat-window{
    padding: 10px;
    width: 350px;
    height: 490px;
    overflow: hidden;
    border: 3px solid rgb(4, 91, 253);
    border-radius: 20px;
    margin: 0 auto !important;
  }
  
  .app-mensajes {
    overflow-y:scroll;
    height:320px;
    background: aqua;
    padding: 5px;
    border-radius: 20px;
  }

  .escribir {
    width: 90% !important;
    margin: 6px 6px 0 0 !important;
  }

  svg {
    overflow: hidden;
    color: red;
    vertical-align: middle;
    margin-top: 17px;
    font-size: 30px;
    background: aqua;
    border-radius: 50%;
    padding: 2px;
  }

  .borde {
    border: 2px solid rgb(4, 91, 253);

  }

  .fond {
    background: aqua;
    border-radius: 20px;
  }

  .badge {
    text-align: left !important;
  }