<div class="jumbotron jumbotron-fluid text-center bg-primary text-white">
    <div class="container">
        <h1 class="h1">Bienvenido</h1>
        <p class="lead">Podras ver todo lo relacionado con el cine y las mejores peliculas..!</p>
    </div>
</div>
<div class="container">
    <br>
    <app-galeria *ngIf="cartelera.length > 0" [peliculas]="cartelera|slice:0:6" titulo="Peliculas en cartelera"></app-galeria>
    <app-galeria *ngIf="populares.length > 0" [peliculas]="populares|slice:0:6" titulo="Populares"></app-galeria>
    <app-galeria *ngIf="popularesNinos.length > 0" [peliculas]="popularesNinos|slice:0:6" titulo="Populares entre los mas pequeños"></app-galeria>
</div>