
a {
    margin-right: 15px;
}

.active {
    color: rgb(241, 79, 4);
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-sidenav-container mat-sidenav{
      background-color: brown;
  }

  mat-sidenav {
      position: absolute;
      z-index: -2000 !important;

  }