.navbar {
    top: 0;
    z-index: 1000;
    cursor: pointer;
    margin-bottom: 30px;
}

  mat-sidenav {
     width: 200px;
     cursor: pointer;
     background-color: darkblue;
     position: fixed;
     top: 55px;
     z-index: 1000;

  }

  .mat-list-base .mat-list-item {
    color: #f8f9fa;
}

.material-icons {
    font-size: 30px;
    margin-right: 20px;
}

.menu {
    margin-left: 20px;
}

.mat-nav-list a {
    margin: 8px 0 !important;
}

.active {
    border-bottom: 3px solid rgb(250, 3, 3);
    text-align: center;
}

.mat-toolbar.mat-primary {
    background: darkblue;
    color: #fff;
}