<div (window:scroll)="doSomethingOnWindowsScroll($event)">       

<header  class="ae-container-fluid ae-container-fluid--full rk-header ">

    <nav [ngClass]="color" class="navbar navbar-expand-lg navbar-light">
      <a [ngClass]="texto" class="navbar-brand" routerLink="home">{{infoService.info.titulo}}</a>
      <button  (click)="ocultarMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span [ngClass]="texto" class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="desplegable" class=" collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-link">
            <a [ngClass]="texto"   (click)="ocultarMenu()" routerLinkActive="active" routerLink="home" class="nav-link">Inicio</a>
          </li>
          <li  class="nav-link">
            <a [ngClass]="texto"  (click)="ocultarMenu()" routerLinkActive="active" routerLink="about" class="nav-link">Conoceme</a>
          </li>
          <li *ngIf="!chatServ.userLogg"  class="nav-link">
            <a [ngClass]="texto"  (click)="ocultarMenu()" routerLinkActive="active" routerLink="login" class="nav-link">login</a>
          </li>
          <li  class="nav-link">
            <a [ngClass]="texto"  (click)="ocultarMenu()" routerLinkActive="active"routerLink="chat" class="nav-link">Chat</a>
          </li>
          <li  class="nav-link">
            <a [ngClass]="texto"  (click)="ocultarMenu()" routerLinkActive="active"routerLink="cine" class="nav-link">Cine</a>
          </li>
          <li  class="nav-link">
            <a [ngClass]="texto"  (click)="ocultarMenu()" routerLinkActive="active"routerLink="buscador" class="nav-link">Peliculas</a>
          </li>
          <li   class="nav-link">
            <a [ngClass]="texto"  (click)="ocultarMenu()" routerLinkActive="active" routerLink="contacto" class="nav-link">Contacto</a>
          </li>
          <li *ngIf="chatServ.userLogg"  class="nav-link">
            <a [ngClass]="texto"  (click)="ocultarMenu()" routerLinkActive="active" (click)="chatServ.logout()" class="nav-link puntero">Salir</a>
          </li>
          


        </ul>
        <div class="justify-content-center">
          <form class="form-inline m-2">
            <input class="form-control borde mt-2 mr-2 text-center" type="text"
              (keyup.enter)="buscarProducto(txtBuscar.value); ocultarMenu()" #txtBuscar placeholder="Buscar Lenguajes">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="buscarProducto(txtBuscar.value);  ocultarMenu()"
              type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>
 
</header>


</div>
