<div class="container mt-2" *ngIf="pelicula">
    <h3>{{pelicula.title}}</h3>
    <hr>
    <div class="row ">
        <div class="col-md-5 animated slideInDown" align="center">

            <img [src]="pelicula | peliculasPipe:true" alt="" class="img-thumbnail img-fluid">
        </div>
        <div class="col-md-7 animated slideInUp">
            <h5 class="text-center">Sinopsis</h5>
            <hr>
            <div class="text-center">
                {{ pelicula?.overview}}
            </div>
            <div class="d-flex mt-3">
                <h5>Genero : </h5>
                <div *ngFor="let genero of pelicula.genres">
                    <span class="badge badge-primary mx-2">{{genero?.name}}</span> </div>
            </div>
            <div class="d-flex">
                <h5 class="mr-2">Duración :  </h5>
                {{  pelicula?.runtime}} min
            </div>
            <div class="d-flex">
                <h5 class="mr-2">Valoración :  </h5>
                {{  pelicula?.vote_average}}/10
            </div>

            <button [routerLink]="['/'+regresar]" class="btn btn-danger"> Regresar</button>
        </div>
    </div>