<div class="animated faster">
  <div class="ae-container-fluid ae-container-fluid--inner rk-main">
    <div class=" animated fadeIn ae-grid au-xs-ta-center au-mb-2">
      <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3" *ngFor="let equipo of equipos">
        <img src="{{equipo?.url}}" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{equipo?.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{equipo?.subtitulo}}</p>
        <p class="au-lg-ta-center ">{{equipo?.frase}}</p>
        <a target="blank" [href]="equipo?.facebook" class="ae-u-bolder text-primary ">{{equipo?.nombre}}</a>
      </div>
    </div>


    <div class="ae-grid au-pt-2">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Programar es vida</h4>
        <p>«Durante mucho tiempo me extrañó el hecho de que algo tan caro y tan vanguardista fuera tan inútil. Y luego
          pensé que la computadora es una máquina estúpida con la capacidad de hacer cosas increíblemente inteligentes,
          mientras que los programadores de computadoras son gente inteligente con
          la capacidad de hacer cosas increíblemente estúpidas. En pocas palabras, son la pareja perfecta.»</p>
      </div>
    </div>
  </div>
</div>