<div class="">
    <div class="principal animated fadeIn">
        <div class="row">
            <div class="col-6 mt-5">
                <div class="animated slideInRight delay-1s">
                <div class="login"></div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mt-5">
                <div class="justify-content-center animated slideInLeft delay-1s">

                    <h4 class="text-center text-primary iconsize-80">
                        <mat-icon> account_circle </mat-icon>
                    </h4>
                    <form [formGroup]="formG" class=" text-center mx-5">

                        <mat-form-field class="example-full-width">
                            <mat-label class="text-dark">Correo</mat-label>
                            <input matInput id="correo" class=" f-w" name="correo" formControlName="correo"
                                type="email"
                                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                                required>
                            <mat-error
                                *ngIf="formG.controls.correo.errors && formG.controls.correo.errors.required && (formG.controls.correo.dirty || formG.controls.correo.touched)">
                                Campo Requerido</mat-error>
                            <mat-error
                                *ngIf="formG.controls.correo.errors && formG.controls.correo.errors.pattern && (formG.controls.correo.dirty || formG.controls.correo.touched)">
                                Debe introducir una direccion e correo valida</mat-error>

                        </mat-form-field> <br>

                        <mat-form-field class="example-full-width">
                            <mat-label class="text-dark">Password</mat-label>
                            <input matInput id="pws" class="text-dark f-w" name="pws" type="password"
                                formControlName="pws" required>
                            <mat-error
                                *ngIf="formG.controls?.pws?.errors && formG.controls?.pws?.errors.required && (formG.controls?.pws?.dirty || formG.controls?.pws?.touched)">
                                Campo Requerido</mat-error>
                            <mat-error
                                *ngIf="formG.controls?.pws?.errors && formG.controls?.pws?.errors.minlength && (formG.controls?.pws?.dirty || formG.controls?.pws?.touched)">
                                Minimo 5 caracteres</mat-error>
                        </mat-form-field> <br>

                        <div class="mt-5">
                            <button mat-raised-button class="w-50" color="primary" [disabled]="!formG.valid"
                                type="button" (click)="onSubmit()">Entrar</button> <br>

                            <a routerLink="/register" class="text-primary mt-5">
                                ¿No tienes cuenta? Registrate
                            </a> <br>
                            <a (click)="abrirModal()" class="text-primary cursor">Olvidaste tu contraseña?</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '2px', fullScreenBackdrop: 'true' }">
</ngx-loading>
<ngx-loading [show]="servi.loading" [config]="{ backdropBorderRadius: '2px', fullScreenBackdrop: 'true' }">
</ngx-loading>