.register {
    width: 100%;
    height: 100vh;
}
   

.fondoPrincipal {
    margin-top: 15% !important;
    position: absolute;
    background-image: url(./../../../assets/img/fondoRegister.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.example-full-width{
    width: 80% !important;
}

.altura {
    min-width: 100%;
    min-height: 100% !important;
}

.material-icons {
    font-size: 1.8em !important;
}

@media (max-width: 992px) {
    .fondoPrincipal
    {
display: none;   }
}